:root {
  --body-bg: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
  --msger-bg: #fff;
  --border: 2px solid #ddd;
  --left-msg-bg: #ececec;
  --right-msg-bg: #579ffb;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: var(--body-bg);
  font-family: Helvetica, sans-serif;
}

.msger {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  width: 100%;
  max-width: 867px;
  margin: 25px 10px;
  height: calc(100% - 50px);
  border: var(--border);
  border-radius: 5px;
  background: var(--msger-bg);
  box-shadow: 0 15px 15px -5px rgba(0, 0, 0, 0.2);
}

.msger-header {
  /* display: flex; */
  font-size: medium;
  justify-content: space-between;
  padding: 10px;
  text-align: center;
  border-bottom: var(--border);
  background: #eee;
  color: #666;
}

.msger-chat {
  flex: 1;
  overflow-y: auto;
  padding: 10px;
}
.msger-chat::-webkit-scrollbar {
  width: 6px;
}
.msger-chat::-webkit-scrollbar-track {
  background: #ddd;
}
.msger-chat::-webkit-scrollbar-thumb {
  background: #bdbdbd;
}
.msg {
  display: flex;
  align-items: flex-end;
  margin-bottom: 10px;
}

.msg-img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  background: #ddd;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 50%;
}
.msg-bubble {
  max-width: 450px;
  padding: 15px;
  border-radius: 15px;
  background: var(--left-msg-bg);
}
.msg-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
.msg-info-name {
  margin-right: 10px;
  font-weight: bold;
}
.msg-info-time {
  font-size: 0.85em;
}

.left-msg .msg-bubble {
  border-bottom-left-radius: 0;
}

.right-msg {
  flex-direction: row-reverse;
}
.right-msg .msg-bubble {
  background: var(--right-msg-bg);
  color: #fff;
  border-bottom-right-radius: 0;
}
.right-msg .msg-img {
  margin: 0 0 0 10px;
}

.msger-inputarea {
  display: flex;
  padding: 10px;
  border-top: var(--border);
  background: #eee;
}
.msger-inputarea * {
  padding: 10px;
  border: none;
  border-radius: 3px;
  font-size: 1em;
}


.msger-input {
  flex: 1;
  background: #ddd;
}
.msger-send-btn {
  /*padding: 4px 60px;*/
  width: 150px;
  height: 50px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  background: rgb(0, 196, 65);
  border-radius: 12px;
  font-size: 20px;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.23s;
}
.msger-send-btn:hover {
  background: rgb(0, 180, 50);
  /*box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);*/

}

/*.normal-btn {*/
/*  !*padding: 4px 60px;*!*/
/*  width: 100px;*/
/*  height: 50px;*/
/*  margin-left: 20px;*/
/*  margin-right: 20px;*/
/*  margin-top: 10px;*/
/*  margin-bottom: 10px;*/
/*  background: rgb(0, 196, 65);*/
/*  border-radius: 12px;*/
/*  font-size: 20px;*/
/*  color: #fff;*/
/*  font-weight: bold;*/
/*  cursor: pointer;*/
/*  transition: background 0.23s;*/
/*}*/

/*.record-send-btn {*/
/*  margin-left: 10px;*/
/*  margin-right: 10px;*/
/*  !*height: 40px;*!*/
/*  background: dodgerblue;*/
/*  color: #fff;*/
/*  font-weight: bold;*/
/*  cursor: pointer;*/
/*  transition: background 0.23s;*/
/*  !*background-image:url(../img/microphone.svg);*!*/
/*  !*background-repeat:no-repeat;*!*/
/*}*/

.record-send-btn:hover {
  background: blue;
}

.msger-chat {
  background-color: #fcfcfe;
  /*background-image: url("");*/
}
.modal {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: url('http://i.stack.imgur.com/FhHRx.gif')
                50% 50%
                no-repeat;
}


/* Anytime the body has the loading class, our
   modal element will be visible */
body.loading .modal {
    display: block;
}
body.loading .modal {
    overflow: hidden;
}

.hint-loading{
  font-size:15px;
  color: green;

}
.hint-loading:after {
  overflow: hidden;
  display: inline-block;
  vertical-align: bottom;
  /*-webkit-animation: ellipsis steps(4,end) 900ms infinite;*/
  /*animation: ellipsis steps(4,end) 900ms infinite;*/
  content: "\2026"; /* ascii code for the ellipsis character */
  width: 0px;
}

@keyframes ellipsis {
  to {
    width: 20px;
  }
}

@-webkit-keyframes ellipsis {
  to {
    width: 20px;
  }
}

.autocomplete {
  display: flex;
  padding: 10px;
  position: relative;

}
.autocomplete-items {
  position: absolute;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}

.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}

/*when hovering an item:*/
.autocomplete-items div:hover {
  background-color: #cceeff;
}

/*when navigating through the items using the arrow keys:*/
.autocomplete-active {
  background-color: DodgerBlue !important;
  color: #ffffff;
}
/*STAR*/
div.stars {
  width: 270px;
  display: inline-block;
}

input.star { display: none; }

label.star {
  float: right;
  padding: 10px;
  font-size: 36px;
  color: #444;
  transition: all .2s;
}

input.star:checked ~ label.star:before {
  content: '\f005';
  color: #FD4;
  transition: all .25s;
}

input.star-5:checked ~ label.star:before {
  color: #FE7;
  text-shadow: 0 0 20px #952;
}

input.star-1:checked ~ label.star:before { color: #F62; }

label.star:hover { transform: rotate(-15deg) scale(1.3); }

label.star:before {
  content: '\f006';
  font-family: FontAwesome;
}
.fit-picture {
    width: 50px;
}

.disabled {
  opacity: 0.6;
  cursor: not-allowed;
}
.copyright{
  text-align: right;
  font-size: medium;
  margin-right: 10px;
}

textarea {
  resize: none;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  height:80px;
}
#left{
    width:200px;
    float:left;
    border:#CCCCCC 1px solid;

}
#right{
    width:500px;
    float:left;
    height:300px;
    padding-top:10px;
    margin-left:150px;
}

.main{
    padding-bottom:20px;}

.site-header-logo h1 {
  color: rgb(47, 143, 157);
  font-family: lobsterregular;
  font-size: 3rem;
  margin-top: 2rem;
}

.navbar-text {
  color: rgb(250, 250, 250);
}

.navbar-brand {
  color: rgb(250, 250, 250);
  font-family: lobsterregular;
  font-size: 2.5rem;
}

.navbar-brand:hover {
  color: rgb(250, 250, 250);
  font-family: lobsterregular;
}

#navbar{
  width:80%;
  margin:0px auto;
  position:fixed;/*固定作用*/
  top:0px;}

.submit_button{
background-color:#2F8F9D;
border:none;}

