<!DOCTYPE html>
<html lang="en">
{% extends "layout.html" %}
{% block content %}
<head>
    <meta charset="UTF-8">
    <title>Breast Cancer iMedBot</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
<!--    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css">-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<!--    <script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>-->
<!--    <script src="http://cdn.bootcss.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>-->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/iMedbot.css') }}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

</head>

<body>
<!--<div class="center">-->


  <!-- partial:index.partial.html -->

  <section class="msger">
    <header class="msger-header">
      <div class="msger-header-title">
        <div class="modal"></div>

          <i class="fas fa-bug"></i> Breast Cancer iMedbot  <i class="fas fa-bug"></i>
      </div>
    </header>

    <main class="msger-chat"></main>
    <div id="hidden_div" style="display:none">
        <table id="hidden_table" class="table table-striped" >

        </table>
    </div>
      <div class="hint-loading" id = "hint">
          <button id = "showdataset" type="button" class="btn btn-info " style="display:none">Show Dataset!</button>
<!--          <button id = "changedataset" type="button" class="btn btn- " style="display:none">Change Dataset!</button>-->
{#          &nbsp&nbsp Please don't say too much, I am still learning now!#}

      </div>

    <form class="msger-inputarea" autocomplete="off" >

        <div class="autocomplete" style="width:650px;">
            <input type="text" class="msger-input" id="textInput" placeholder="Enter your message..." />
        </div>

        <input id="submit" type="submit" class="msger-send-btn" value="Send" />


    </form>
      <form id="form1" action="/dataset" method="POST" enctype="multipart/form-data">
          <input id='fileid' type='file' name="dataset" accept=".csv" style="display:none"/>
           <input id='submitDataset' type=submit value=Upload style="display:none">

      </form>
            <!--        <button  title = "start recording when you click" type = "button" class="record-send-btn" id = "start_button" >-->
            <!--            <img id="start_img" src="static/img/mic.gif" alt="Start">-->

            <!--        </button>-->
         <div >
  <a class="copyright text-dark" href="https://google.com/">Copyright © 2021 Xia Jiang, University of Pittsburgh. All rights reserved.</a>
 </div>

  </section>



<!--</div>-->



  <!-- partial -->
  <script src='https://use.fontawesome.com/releases/v5.0.13/js/all.js'></script>
  <script type="text/javascript" src="static/assets/input_question.js"></script>
  <script type="text/javascript" src="static/assets/input_question10.js"></script>
  <script type="text/javascript" src="static/assets/input_question5.js"></script>

  <script type="text/javascript" src="static/js/iMedbot.js"></script>





</body>
{% endblock %}

</html>